@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-family: "Amiko", sans-serif;
}

.custom-img {
  background-image: url("https://wallpapercave.com/wp/wp9012018.jpg");
}